.section-h-middle {
  width: 30%;
  height: 550px;
  margin: 10px auto;
  border: 0.5px solid #000;
}
.text-v-center {
  vertical-align: top;
}
body {
  margin: 0;
  padding: 10px;
}
.section {
  display: inline-block;
  height: 200px;
  margin: 10;
  width: 32%;
  border: 0.5px solid #000;
}
